.sidebar {
  position: relative;
  z-index: 10;

  width: 3%;
  min-width: 3rem;
  background-color: #1f2937;
  color: white;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  flex-shrink: 0;
  height: 100dvh;
  overflow: hidden;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  margin-bottom: 1rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottomNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
