.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-in-out;
  color: #9ca3af;
  cursor: pointer;
  text-decoration: none;
  line-height: 0;

  background: none;
  border: none;
}

.navItem:hover {
  background-color: #374151;
  color: white;
}
.active {
  background-color: #374151;
  color: white;
}
