.container {
  font-family: var(--font-sans);

  background-color: #1f2937;
  color: white;
  padding: 1rem 0.75rem;

  border-radius: 1rem;

  cursor: pointer;
  transition: background-color 0.2s, border-radius 0.3s ease-out;
}

.container.open {
  border-radius: 1rem 1rem 0 0;
}

.container:hover {
  background-color: #2c3e50;
}

.maneuver {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
  line-height: 1;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.street {
  font-size: 1rem;
  font-weight: 500;
  color: #3388ff;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }

  .street {
    font-size: 1.25rem;
  }
}

@media (min-width: 1920px) {
  .icon {
    font-size: 3rem;
  }

  .street {
    font-size: 1.4rem;
  }
}

@media (min-width: 2400px) {
  .icon {
    font-size: 3rem;
  }

  .street {
    font-size: 1.5rem;
  }
}
