.main {
  position: relative;
  flex-grow: 1;

  height: 100;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: #111827;
  color: white;
  padding: 1rem;
}
